# IDE config files
**/.vscode/

# build output
**/build/
**/?build/

# platform directory files
**/.DS_Store
**/Thumbs.db
**/desktop.ini

# python virtual environment
venv/
.venv/
env/
.env/

# useless rubbish
**/__pycache__/
