[submodule "deps/cutils"]
	path = deps/cutils
	url = https://github.com/kosude/cutils
[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk
[submodule "tests/deps/glfw"]
	path = tests/deps/glfw
	url = https://github.com/glfw/glfw
